---
import H1 from "@/components/H1.astro";
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import Blogs from "@/components/Blogs.astro";
import getTaggedBlogs from "@/utils/getTaggedBlogs";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { type CollectionEntry } from "astro:content";

interface Props {
  blogs: CollectionEntry<"blogs">[];
}

export const getStaticPaths = (async () => {
  const taggedBlogs = await getTaggedBlogs();
  return Object.entries(taggedBlogs).map(([tag, blogs]) => {
    return {
      params: { tag },
      props: { blogs },
    };
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { blogs } = Astro.props;
---

<Layout title={tag}>
  <Breadcrumbs
    crumbs={[
      { label: "Tags", href: "/tags" },
      { label: tag, href: `/tags/${tag}` },
    ]}
  />
  <H1 transitionName={tag} class='mb-12'># {tag}</H1>
  <Blogs blogs={blogs} />
</Layout>
