---
import H1 from "@/components/H1.astro";
import H2 from "@/components/H2.astro";
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import getTaggedBlogs from "@/utils/getTaggedBlogs";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
  blogs: CollectionEntry<"blogs">[];
}

export const getStaticPaths = (async () => {
  const blogs = await getCollection("blogs");
  const taggedBlogs = getTaggedBlogs(blogs);
  return Object.entries(taggedBlogs).map(([tag, blogs]) => {
    return {
      params: { tag },
      props: { blogs },
    };
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { blogs } = Astro.props;
---

<Layout title={tag}>
  <Breadcrumbs
    crumbs={[
      { label: "Tags", href: "/tags" },
      { label: tag, href: `/tags/${tag}` },
    ]}
  />
  <H1 transitionName={tag}># {tag}</H1>
  {
    blogs.map((blog) => (
      <H2 primitive transitionName={blog.slug}>
        <a href={`/blogs/${blog.slug}`}>{blog.data.title}</a>
      </H2>
    ))
  }
</Layout>
