---
import dayjs from "dayjs";
import H2 from "@/components/H2.astro";
import { type CollectionEntry } from "astro:content";

interface Props {
  blogs: CollectionEntry<"blogs">[];
}

const { blogs } = Astro.props;
---

<>
  {
    blogs.map(({ slug, data }) => {
      const { tags, date, title, description } = data;
      const day = dayjs(date).format("DD");
      const month = dayjs(date).format("MMM");
      const year = dayjs(date).format("YYYY");
      return (
        <div class="flex flex-row mb-10 items-start">
          <div class="flex flex-col justify-center items-center mr-10">
            <span class="text-5xl">{day}</span>
            <span class="text-light-3 dark:text-dark-3 text-xs">
              {month}&nbsp;{year}
            </span>
          </div>
          <div>
            <H2 transitionName={slug} class="text-wrap">
              <a
                href={`/blogs/${slug}`}
                class="hover:underline underline-offset-6 decoration-dashed hover:text-primary duration-300"
              >
                {title}
              </a>
            </H2>
            <p class="text-wrap">{description}...</p>
            <p class="flex">
              {tags.map((tag: string) => (
                <a
                  href={`/tags/${tag.toLowerCase()}`}
                  class:list={[
                    "group flex text-sm mr-2 hover:text-primary duration-300",
                    "text-light-3 dark:text-dark-3",
                  ]}
                >
                  <svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    class:list={[
                      "w-4 group-hover:fill-primary duration-300",
                      "fill-light-3 dark:fill-dark-3",
                    ]}
                  >
                    <path d="M7.78428 14L8.2047 10H4V8H8.41491L8.94043 3H10.9514L10.4259 8H14.4149L14.9404 3H16.9514L16.4259 8H20V10H16.2157L15.7953 14H20V16H15.5851L15.0596 21H13.0486L13.5741 16H9.58509L9.05957 21H7.04855L7.57407 16H4V14H7.78428ZM9.7953 14H13.7843L14.2047 10H10.2157L9.7953 14Z" />
                  </svg>
                  {tag.toLowerCase()}
                </a>
              ))}
            </p>
          </div>
        </div>
      );
    })
  }
</>
