---
import H2 from "@/components/H2.astro";
import { fade } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";

interface Props {
  blog: CollectionEntry<"blogs">;
}

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;

const { Content, remarkPluginFrontmatter } = await blog.render();
---

<Layout title={remarkPluginFrontmatter.title}>
  <H2 class="font-semibold" transitionName={remarkPluginFrontmatter.slug}>
    {remarkPluginFrontmatter.title}
  </H2>
  <p
    class="text-xs text-zinc-400 -mt-4"
    transition:animate={fade({ duration: "0.5s" })}
  >
    <span class="text-zinc-400">Updated at 2023.12.21</span>,
    <span class="text-zinc-400">1230 words</span>,
    <span class="text-zinc-400">6 mins read</span>
  </p>
  <div class="blog-content" transition:animate={fade({ duration: "0.5s" })}>
    <Content />
    <div class="mt-10">
      {
        remarkPluginFrontmatter.tags.map((tag: string) => (
          <a
            href={`/tags/${tag.toLowerCase()}`}
            class="text-sm text-zinc-400 mr-2 hover:text-primary duration-300"
          >
            # {tag.toLowerCase()}
          </a>
        ))
      }
    </div>
  </div>
</Layout>

<style is:global>
  .blog-content {
    margin-top: 20px;
  }

  .blog-content h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .blog-content p {
    margin: 1em 0;
  }

  .blog-content pre code {
    /* font-size: 15px; */
  }
</style>
