---
import H1 from "@/components/H1.astro";
import { fade } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";

interface Props {
  blog: CollectionEntry<"blogs">;
}

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;

const { Content, remarkPluginFrontmatter } = await blog.render();
---

<Layout title={remarkPluginFrontmatter.title}>
  <H1 class="font-semibold" transitionName={remarkPluginFrontmatter.slug}>
    {remarkPluginFrontmatter.title}
  </H1>
  <p
    class="text-xs text-zinc-400 -mt-4"
    transition:animate={fade({ duration: "0.5s" })}
  >
    <span class="text-zinc-400">Updated at 2023.12.21</span>,
    <span class="text-zinc-400">1230 words</span>,
    <span class="text-zinc-400">6 mins read</span>
  </p>
  <div
    transition:animate={fade({ duration: "0.5s" })}
    class:list={[
      "blog-content",
      "min-w-full mt-4",
      "prose",
      "prose-img:mt-4 prose-img:mb-4",
      "prose-pre:rounded-none prose-pre:font-monaspace",
      "prose-table:border prose-table:border-collapse prose-table:bg-white",
      "prose-th:border prose-th:border-zinc-300 prose-th:pt-2",
      "prose-td:border prose-td:border-zinc-300",
      "prose-code:before:content-none prose-code:after:content-none prose-code:font-normal",
      "prose-a:underline prose-a:underline-offset-4	prose-a:text-primary",
    ]}
  >
    <Content />
  </div>
  <div class="mt-14">
    {
      remarkPluginFrontmatter.tags.map((tag: string) => (
        <a
          href={`/tags/${tag.toLowerCase()}`}
          class="text-sm text-zinc-400 mr-2 hover:text-primary duration-300"
        >
          # {tag.toLowerCase()}
        </a>
      ))
    }
  </div>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const tocHeader = document.querySelector("#table-of-contents");

    // h1 element will take no effect
    if (tocHeader?.tagName === "H1") {
      console.error("The heading of TOC should be h2~h6, not h1");
      return;
    }

    tocHeader?.classList.add("hidden");

    const tocBody = document.querySelector("#table-of-contents ~ ul");

    // don't remove this, or it will cause an error
    if (!tocBody) return;

    tocBody.classList.add("m-0");

    const details = document.createElement("details");
    details.id = "details-table-of-contents";
    details.classList.add(
      "border-2",
      "open:pb-4",
      "bg-white",
      "select-none",
      "cursor-pointer"
    );

    const summary = document.createElement("summary");
    summary.classList.add("p-4");
    summary.innerHTML = "Table of Content";

    details.appendChild(summary);
    details.appendChild(tocBody);

    tocHeader?.replaceWith(details);
  });
</script>
