---
import dayjs from "dayjs";
import H2 from "@/components/H2.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import getSortedBlogs from "@/utils/getSortedBlogs";

const blogs = await getCollection("blogs");
const sortedBlogs = getSortedBlogs(blogs);
---

<Layout title="CaptainOfPhB | Blogs">
  {
    sortedBlogs.map(({ slug, data }) => {
      const { tags, date, title, description } = data;
      const day = dayjs(date).format("DD");
      const month = dayjs(date).format("MMM");
      const year = dayjs(date).format("YYYY");
      return (
        <div class="flex mb-10 items-start">
          <div class="flex flex-col justify-center items-center mr-10">
            <span class="text-5xl font-black">{day}</span>
            <span class="text-zinc-400 text-xs">
              {month} {year}
            </span>
          </div>
          <div class="w-full">
            <H2 transitionName={slug} class="max-w-screen-md truncate">
              <a
                href={`/blogs/${slug}`}
                class="hover:underline underline-offset-6 decoration-dashed hover:text-primary duration-300"
              >
                {title}
              </a>
            </H2>
            <p class="text-wrap text-sm text-zinc-500">{description}...</p>
            <p>
              {tags.map((tag: string) => (
                <a href={`/tags/${tag.toLowerCase()}`}>
                  <span class="text-xs text-zinc-400 mr-2 hover:text-primary duration-300">
                    # {tag.toLowerCase()}
                  </span>
                </a>
              ))}
            </p>
          </div>
        </div>
      );
    })
  }
</Layout>
